<h1>Reservas</h1>

<h2>Nova Reserva</h2>

<%= link_to "criar nova reserva", new_reserva_path %>  

<h2>Próximas Saídas</h2>

<ul>
<% @reservas_por_saida.each do |data_e_horario, quantidade| %>
  <li><%= DataEHorario.new(data_e_horario[0], data_e_horario[1]).to_s %> (<%= quantidade %>)</li>
<% end %>
</ul>

<table>   
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Quantidade de pessoas</th>
    <th>Dia desejado</th>
    <th>Horario desejado</th>
    <th>Observacoes e pedidos especiais</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservas.each do |reserva| %>
  <tr>
    <td><%= reserva.nome %></td>
    <td><%= reserva.email %></td>
    <td><%= reserva.telefone %></td>
    <td><%= reserva.quantidade_de_pessoas %></td>
    <td><%= reserva.dia_desejado %></td>
    <td><%= reserva.horario_desejado %></td>
    <td><%= reserva.observacoes_e_pedidos_especiais %></td>
    <td><%= link_to 'Show', reserva %></td>
    <td><%= link_to 'Edit', edit_reserva_path(reserva) %></td>
    <td><%= link_to 'Destroy', reserva, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reserva', new_reserva_path %>
