<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @reserva.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @reserva.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @reserva.telefone %>
</p>

<p>
  <b>Quantidade de pessoas:</b>
  <%= @reserva.quantidade_de_pessoas %>
</p>

<p>
  <b>Dia desejado:</b>
  <%= @reserva.dia_desejado %>
</p>

<p>
  <b>Horario desejado:</b>
  <%= @reserva.horario_desejado %>
</p>

<p>
  <b>Observacoes e pedidos especiais:</b>
  <%= @reserva.observacoes_e_pedidos_especiais %>
</p>


<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
