
  <label class="label"><%= t("activerecord.attributes.reserva.nome", :default => t("activerecord.labels.nome", :default => "Nome")) %>:</label>
  <p><%= @reserva.nome %></p>

  <label class="label"><%= t("activerecord.attributes.reserva.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</label>
  <p><%= @reserva.email %></p>

  <label class="label"><%= t("activerecord.attributes.reserva.telefone", :default => t("activerecord.labels.telefone", :default => "Telefone")) %>:</label>
  <p><%= @reserva.telefone %></p>

  <label class="label"><%= t("activerecord.attributes.reserva.quantidade_de_pessoas", :default => t("activerecord.labels.quantidade_de_pessoas", :default => "Quantidade de pessoas")) %>:</label>
  <p><%= @reserva.quantidade_de_pessoas %></p>

  <label class="label"><%= t("activerecord.attributes.reserva.dia_desejado", :default => t("activerecord.labels.dia_desejado", :default => "Dia desejado")) %>:</label>
  <p><%= @reserva.dia_desejado %></p>

  <label class="label"><%= t("activerecord.attributes.reserva.horario_desejado", :default => t("activerecord.labels.horario_desejado", :default => "Horario desejado")) %>:</label>
  <p><%= @reserva.horario_desejado %></p>

  <label class="label"><%= t("activerecord.attributes.reserva.observacoes_e_pedidos_especiais", :default => t("activerecord.labels.observacoes_e_pedidos_especiais", :default => "Observacoes e pedidos especiais")) %>:</label>
  <p><%= @reserva.observacoes_e_pedidos_especiais %></p>
<%= link_to "Back", reservas_path  %>
