<!DOCTYPE html>
<html>
<head>
  <title>MorumbitourCom</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <h3><%= link_to "MorumbiTour", "/" %></h3>
        <ul class="nav">
          <li><%= link_to "Reservas", reservas_path  %></li>
		</ul>
		<ul class="nav secondary-nav">
			<li><% if current_user %><%= link_to "Olá, #{current_user.email}", edit_user_password_path  %><% end %></li>
			<li><%= link_to "logout", destroy_user_session_path, :method => :delete  %></li>
		</ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="sidebar">
      <div class="well">
        <h5>Nova Reserva</h5>
        <ul>
          <li><%= link_to "Nova reserva, clique aqui!", new_reserva_path  %></li>
		</ul>
      </div>    

	  <% unless @reservas_por_saida.nil? %>
      <div class="well">
        <h5>Próximas saídas</h5>
		<ul>
		<% @reservas_por_saida.each do |data_e_horario, quantidade| %>
		  <li>
			<%= link_to "#{DataEHorario.new(data_e_horario[0], data_e_horario[1]).to_s} (#{quantidade})", reservas_path(dia_desejado: data_e_horario[0], horario_desejado: data_e_horario[1])%> 
		    <b><%= link_to "+", new_reserva_path(dia_desejado: data_e_horario[0], horario_desejado: data_e_horario[1] ) %></b>
		  </li>
		<% end %>
		</ul>
      </div>
	  <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
